.dashboard-container {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}

.dashboard-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff1e;
  color: #299193
}
